* {
    user-select: none;
    font-weight: 450;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: 'Mochiy Pop P One', sans-serif;
}

:root {
    --main-color: #444;
    --main-color-hover: #666;
    --main-color-two: #579BB1;
    --main-color-two-hover: #0081B4;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border: 3px solid #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

::-webkit-scrollbar-thumb:active {
    background-color: #888;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
}


header {
    width: 100%;
    padding: 10px;
    background-color: #ececec;
    z-index: 6;
}

header .container .text h1 {
    color: var(--main-color-two);
    transition: .5s;
    font-family: 'Rammetto One', cursive;
}

header .container .text h1:hover {
    color: var(--main-color-two-hover)
}

header .imgs img {
    border-radius: 50%;
    width: 40px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

header .imgs img:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

header .imgs img:active {
    transform: scale(1.9);
    -webkit-transform: scale(1.9);
    -moz-transform: scale(1.9);
    -ms-transform: scale(1.9);
    -o-transform: scale(1.9);
}

@media (max-width: 391px) {
    header .imgs img {
        display: none;
    }
}

header .container nav h1 {
    font-size: 25px;

}

header .container nav h1 span {
    display: inline;
    font-family: 'Rammetto One', cursive;
}

header .container nav h1 .one {
    color: var(--main-color-two);
}

header .container nav h1 .two {
    color: var(--main-color-two-hover);
}

header .container nav h1 .three {
    color: var(--main-color);
}

@media (max-width: 350px) {
    header .container nav h1 .one {
        display: none;
    }

    header .container nav h1 .two {
        display: none;
    }
}

.landing {
    margin-top: 50px;
}

.landing h1 {
    padding-top: 30px;
    color: var(--main-color);
    display: inline;
    transition: .5s;
}

.landing h1:hover {
    color: var(--main-color-hover);
}

.landing ul li {
    list-style: none;
    padding: 20px;
}

.landing ul li i {
    font-size: 18px;
    padding-left: 5px;
    color: var(--main-color);
}

.landing ul li a {
    text-decoration: none;
    color: var(--main-color-two);
    transition: .5s;
    line-height: 1.7;
}

.landing ul li a:hover {
    color: var(--main-color-two-hover);
}

footer {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer span {
    color: var(--main-color-two);
    transition: .5s;
}

footer span:hover {
    color: var(--main-color-two-hover)
}



@media (max-width: 1000px) {
    .pc {
        display: none;
    }

    footer {
        padding-top: 80px;
        padding-bottom: 80px;
        line-height: 1.7;
    }

    i {
        font-size: 45px;
        color: white;
        padding: 10px 10px 20px 10px;
        transition: .6s;
        -webkit-transition: .6s;
        -moz-transition: .6s;
        -ms-transition: .6s;
        -o-transition: .6s;
    }

    i:hover {
        color: #CCC;
    }
}

@media (min-width: 1000px) {
    .landing {
        display: none;
    }

    .icon {
        display: none;
    }

    .pc {
        text-align: center;
    }

    .pc h1 {
        margin-top: 200px;
        margin-bottom: 70px;
        text-align: center;
        color: var(--main-color);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        line-height: 1.7;
    }

    .pc h1:hover {
        color: var(--main-color-two-hover);
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
    }

    .pc h1:active {
        color: var(--main-color-two);
        transform: scale(.9);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
    }

    .pc a {
        text-decoration: none;
    }

    .pc a i {
        color: var(--main-color-hover);
        padding-right: 13px;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        font-size: 45px;
        padding: 10px 10px 20px 10px;
    }

    .pc a i:hover {
        color: #777;
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        padding-left: 30px;
        padding-right: 30px;
    }

    .pc a i:active {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
 
    .pc a .facebook:hover {
        color: #0081B4;
    }
    .pc a .instagram:hover {
        color: #C12754;
    }

    .pc a .ahmedsaed:hover {
        color: #EBC95F;
    }


    footer {
        margin-top: 80px;
        background-color: #fff;
        color: var(--main-color);
        display: block;
    }
}