* {
    user-select: none;
    font-weight: 450;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: 'Mochiy Pop P One', sans-serif;
}

:root {
    --main-color: #444;
    --main-color-two: #2196f3;
    --main-color-haver: #3c709b;
    --secondary-color: #777;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border: 3px solid #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

::-webkit-scrollbar-thumb:active {
    background-color: #888;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
}


header {
    width: 100%;
    padding: 10px;
    background-color: #ececec;
    z-index: 6;
}

header .container .text h1 {
    color: var(--main-color-two);
    transition: .5s;
    font-family: 'Frijole', cursive;
}

header .container .text h1:hover {
    color: var(--main-color-haver)
}

header .imgs img {
    border-radius: 50%;
    width: 40px;
}

header .container h1 {
    font-size: 25px;
    color: var(--main-color);
}


.landing h1 {
    padding-top: 30px;

    color: var(--main-color);
}

.landing ul li {
    list-style: none;
    padding: 20px;
}

.landing ul li a {
    text-decoration: none;
    color: var(--main-color-two);
    transition: .5s;
}

.landing ul li a:hover {
    color: var(--main-color-haver);
}

footer {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer span {
    color: var(--main-color-two);
    transition: .5s;
}

footer span:hover {
    color: var(--main-color-haver)
}